h1{
    text-align: center;
    color: white;
}
h1{
    background-image: none image();
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F15A29;
    color: white;
    text-align: center;
  }
  #dash{
      width: 40px;
      height: 5px;
      background-color: black;
      margin: 6px 0;
  }
  #fname{
      background-color: grey;
      padding: 5px;
      height: 10px;
  }
  #lname{
      background-color: #F15A29;
      color: white;
  }
  .head{
      background-image: url(./backgrounds/landing.jpg);
  }
